:root {
    --theme-dark: #170F24;
    --theme-light: #2F263D;
    --border-radius: 15px;
    --selector-height: 3rem;
    --navigation-bar-height: 4rem;
}

/** THEME **/

.bg-dark {
    background: var(--theme-dark);
}

.bg-light {
    background: var(--theme-light);
}

.text-dark {
    color: var(--theme-dark);
}

/* TEXT FIELDS */

* {
    font-family: 'Sofia Pro';
}

h1, h2, h3, h4, h5 {
    font-family: 'Sofia Pro';
    color: white;
    font-style: normal;
    margin: 0 0;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

/* CUSTOM ELEMENTS */

.alert {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: white;
    height: fit-content;
    min-height: 20vh;
    width: 100vw;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    text-align: center;
}

.alert h2, .alert h3 {
    color: var(--theme-dark);
    margin: 1rem auto;
}

.flat-button {
    background: white;
    height: 60px;
    min-height: 60px;
    width: 80vw;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: var(--border-radius);
}

.flat-button h3 {
    color: var(--theme-dark);
    font-weight: 600;
}

.flat-button.dark {
    background: var(--theme-dark);
}

.flat-button.dark h3 {
    color: white;
}

/**************/

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/****SECTION****/

.selector {
    height: var(--selector-height)!important;
}

.section {
    top: var(--selector-height)!important;
    height: calc(100vh - var(--selector-height) - var(--navigation-bar-height))!important;
    max-height: calc(100vh - var(--selector-height) - var(--navigation-bar-height))!important;
    overflow-y: scroll!important;
    padding-bottom: 5rem;
}

.section.no-selector {
    top: 0!important;
    height: calc(100vh - var(--navigation-bar-height))!important;
    max-height: calc(100vh - var(--navigation-bar-height))!important;
    overflow-y: scroll!important;
}

.navigation-bar {
    height: var(--navigation-bar-height)!important;
    z-index: 5;
}

/* ROUTE CARD */

.route-card * {
    transition: all 0.3s ease!important;
}

.route-card {
    height: 60vh;
    min-height: 60vh;
    width: 90vw;
    z-index: 1;
    will-change: transform;
}

.route-card:hover {
    z-index: 2;
    transform: scale(1);
}

.bg-route-shade {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 27.93%, #170F24 100%);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

/*FLIPPING TRANSITION*/

.flip-enter-active {
    transition: all 0.4s ease;
}

.flip-leave-active {
    display: none;
}

.flip-enter, .flip-leave {
    transform: rotateY(180deg);
    opacity: 0;
}