:root {
    --theme-dark: #170F24;
    --theme-light: #2F263D;
    --border-radius: 15px;
    --selector-height: 3rem;
    --navigation-bar-height: 4rem;
}

div,
span {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/** THEME **/

.bg-dark {
    background: var(--theme-dark);
}

.bg-light {
    background: var(--theme-light);
}

.text-dark {
    color: var(--theme-dark);
}

.text-2xs {
    font-size: 0.625rem!important;
    line-height: 0.75rem!important;
}


/* TEXT FIELDS */

* {
    font-family: 'Sofia Pro';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Sofia Pro';
    color: white;
    font-style: normal;
    margin: 0 0;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}


/* CUSTOM ELEMENTS */

.alert {
    z-index: 1001;
    height: fit-content;
    min-height: calc(0.2 * var(--vh));
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    text-align: center;
}

.flat-button {
    background: white;
    height: 60px;
    min-height: 60px;
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: var(--border-radius);
}

.flat-button h3 {
    color: var(--theme-dark);
    font-weight: 600;
}

.flat-button.dark {
    background: var(--theme-dark);
}

.flat-button.dark h3 {
    color: white;
}


/**************/


/* Enter and leave animations can use different */


/* durations and timing functions.              */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}


/****SECTION****/

.selector {
    height: var(--selector-height)!important;
}

.section {
    top: var(--selector-height)!important;
    height: calc(var(--vh) - var(--selector-height) - var(--navigation-bar-height))!important;
    max-height: calc(var(--vh) - var(--selector-height) - var(--navigation-bar-height))!important;
    overflow-y: scroll!important;
    padding-bottom: 5rem;
    width: 100%;
}

.section.no-selector {
    top: 0!important;
    height: calc(var(--vh) - var(--navigation-bar-height))!important;
    max-height: calc(var(--vh) - var(--navigation-bar-height))!important;
    overflow-y: scroll!important;
}

.navigation-bar {
    height: var(--navigation-bar-height)!important;
    z-index: 5;
}


/* ROUTE CARD */

.route-card *,
bike-card * {
    transition: all 0.6s ease!important;
}

.route-card {
    height: calc(0.6 * var(--vh));
    min-height: calc(0.6 * var(--vh));
    width: calc(0.9 * var(--vw));
    z-index: 1;
    will-change: transform;
}

.bike-card {
    height: fit-content;
    min-height: calc(0.2 * var(--vh));
    width: calc(0.9 * var(--vw));
    z-index: 1;
    will-change: transform;
}

.route-card:hover {
    z-index: 2;
    transform: scale(1);
}

.bg-route-shade {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 27.93%, #170F24 100%);
}

.bg-bike-shade {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 27.93%, #170F24 100%);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/*FLIPPING TRANSITION*/

.flip-enter-active {
    transition: all 0.4s ease;
}

.flip-leave-active {
    display: none;
}

.flip-enter,
.flip-leave {
    transform: rotateY(180deg);
    opacity: 0;
}


/* DESKTOP */

:root {
    --vh: 100vh;
    --vw: 100vw;
}

.wh-custom-screen {
    width: 100vw;
    height: var(--vh);
}

.phone {
    display: none;
}

.app-description * {
    display: none!important;
}

@media screen and (min-width: 600px) {
     :root {
        --vh: 812px;
        --vw: 375px;
    }
    body {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh!important;
    }
    .main-container {
        position: relative!important;
        margin: auto;
        max-width: 375px!important;
        max-height: 812px!important;
        width: 375px!important;
        height: 812px!important;
        z-index: 5;
        -webkit-box-shadow: 0px 15px 23px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 15px 23px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 15px 23px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 29px 34px 14px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 29px 34px 14px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 29px 34px 14px rgba(0, 0, 0, 0.75);
        border-radius: 80px;
    }
    .app-description {
        background: transparent;
        position: fixed;
        width: fit-content;
        height: 812px;
        top: calc(50vh - 406px);
        left: calc(50vw + 240px);
        justify-content: end;
    }
    .app-description * {
        display: block!important;
        color: var(--theme-dark)!important;
    }
    .wh-custom-screen {
        width: 375px;
        height: 812px;
    }
    .phone {
        display: block;
        width: 421px;
        height: 852px;
        position: fixed;
        top: calc(50vh - 426px);
        left: calc(50vw - 210px);
        z-index: 6;
        pointer-events: none!important;
    }
}


/*SCROLLBAR*/


/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--theme-dark);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 7px;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}